/*  your css code here. If applicable */
#body{
	background-color:#34282C;
	color:white;
	text-align:center;
	height:150vh;
}
.container{
	background-color:#34282C;

    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg);
	
	
	
    
    width: 100%;
}
.container{
    display: grid;
    
	gap:20px;
	

    grid-template-columns: repeat(3,28%);
   
}
.item img{
    width: 200px;
    height: 200px;
	border:1px solid black;
    /* position: relative;
    left:70px; */
    /* width: 300px;
    height: 300px; */
	position:relative;
	left:30px;
}
@media screen  and (min-width:567px) and (max-width:900px){
    .container{
        background-image: url(https://media.istockphoto.com/id/171378323/photo/seamless-rhombus-textured-paper-background.jpg?s=1024x1024&w=is&k=20&c=uWBj5XPnVtXp3lKE8q2rw9iLB4aWgmret3BcXT0D1Y8=);
        width: 100%;
    }
    .container{
        display: grid;
        /* gap:10px 10px; */
        grid-row-gap:10px;
        grid-column-gap:10px;
    
        grid-template-columns: repeat(3,25%);
       
    }
    .item{
        position: relative;
        left:70px;
        width: 300px;
        height: 300px;
    }
    
}