/*  your css code here. If applicable */
h1{
	background-color:#34282C;
	margin-bottom:0px;
}
#body{
	background-image:url(https://media.istockphoto.com/id/1141019724/vector/straight-diagonal-lines-background-lined-pattern-vector-illustration.jpg?s=612x612&w=0&k=20&c=2rO3qoXqa8ZiBMYa5_bU9tXiqj9zft5FRSiZ-5oMW8I=);
	background-repeat:repeat-y;
	color:white;
	text-align:center;
	
	width:100%;

	
}
.container .item{
	
/* 	background-color:#34282C; */
	
}
.container{
	background-color:#34282C;
	width: 100%;
	
	border:10px solid #34282C;
	position:relative;
	top:-9px;
	right:30px;
	left:30px;
}
.container{
    display: grid;
    
	
	

    grid-template-columns: repeat(3,20%);
	gap:10px
   
}
.item{
	
}
.item img{
    width: 100px;
    height: 100px;
	border:1px solid black;
    /* position: relative;
    left:70px; */
    /* width: 300px;
    height: 300px; */
	position:relative;
	left:20px;
	
}
